.eventItem
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 8px auto
    .eventFields
        display: flex
        flex-direction: row
        justify-content: flex-start
        .eventField
            margin: 0 8px
            padding: 8px
