.eventsHeader
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 35px

    h2
        color: #333333
        font-weight: 700
        font-size: 28px
        text-transform: uppercase
        margin-top: 20px
        margin-bottom: 10px
        line-height: 1.1

    span
        font-family: Raleway, sans-serif
        padding: 0 15px
        text-align: center
        font-size: 18px
        font-weight: 400
        line-height: 25px
        color: #77838f
        line-height: 1.7
        margin-top: 0
        margin-bottom: 1rem

.eventsContainer
    display: flex
    flex-direction: column
    background-color: #28d2d1
    padding: 25px 0
